@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@400;700&display=swap');
*{
	margin: 0;
	padding: 0;
}

:root {
    --primary-color: #1F508C; 
    --secondary-color: #D2B48C; 
    --accent1-color: #FFA500; 
    --accent2-color: #6B8E23; 
  
    --heading-font: 'Koulen', serif;
    --paragraph-font: 'Roboto', sans-serif;
  
    --nav-background-color: #333; 
    --nav-link-color: #FFF; 
    --nav-hover-link-color: #FFA500; 
    --nav-hover-background-color: #555; 

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    text-align: center;
    color:#FFF;
}

.hero img :first-child {

    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0 auto;
}

.hero article {
    position:absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0, auto;
    background-color: var(--secondary-color);
    padding: 20px;
    opacity: 0.2;
    text-align: left;
    max-width: 600px;
}

.hero article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  
}

