
*{
	margin: 0;
	padding: 0;
}

:root {

    --primary-color: #278175; 
    --secondary-color: #fcfcf1; 
    --accent1-color: #66b9ab; 
    --accent2-color: #a7a85c; 
  
    --heading-font: 'Koulen', serif;
    --paragraph-font: 'Roboto', sans-serif;
  
    --nav-background-color: #278175; 
    --nav-link-color: #fcfcf1; 
    --nav-hover-link-color: #06515d; 
    --nav-hover-background-color: #06515d; 

}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    margin: 1rem auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


/*--- Header Nav ---*/

header {
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px 50px 10px 50px;

}

header img{
    margin: 20px;
    width: 100px;
    height: auto;
}

nav {
    flex-grow: 1;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    margin-left: 20px;
}

.navigation a{
    text-decoration: none;
    color:var(--nav-link-color);
    padding: 20px 15px;
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    font-weight: 700;
}

/*--- Hero Banner -- */

.hero {
    position: relative;
    margin-top: 10px;
    text-align: center;
    color: #FFF;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
   
}

.hero article {
    position: absolute;
    bottom: 0;
    background-color: rgb(167, 168, 92, 0.8); 
    color:white;
    padding:50px;
    margin:50px;
    margin-bottom: 100px;

}

.hero article img {
    width: 200px;
    float: right;
    height: auto;
   padding: 10px;
  
}

/*--- History section ---*/
.history-section {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.history-section > h2 {
    grid-column: 1/ -1;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.history-section > p {
    padding: 10px;
    border: 1px solid var(--accent1-color)
}

.history-image {
    width: 500px;
    height:auto;
    justify-self: center;
}


/* ---Adventures Section---*/ 
.adventures-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background-color: var(--secondary-color);
}

.adventures-section > h2 {
    grid-column: 1/-1;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid var(--accent2-color);
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
}

/*--- Hero Contactpage -- */

.hero-contact {
    text-align: center;
    color: #FFF;
    background-color: var(--secondary-color);
    padding: 50px 20px;
}

.hero-contact h1 {
    margin: 0 0 10px 0;
    font-size: 2.5em;
   
}

.hero-contact p {
margin: 0;
font-size: 1em;
}


/*--- Headquarters section ---*/
.headquarters {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px;
    max-width: 1200px; 
    margin: auto;
}

.address {
    width: 40%; 
    padding-right: 20px;
}

.map {
    width: 60%; 
    padding-left: 20px; 
}

.address h2 {
    margin: 0;
    font-size: 2em;
    color: #333; 
    font-weight: 600;
    padding-bottom: 20px;
}

.address p {
    font-size: 16px;
    color: #666; 
    line-height: 1.5;
    margin-bottom: 10px; 
}


.map iframe {
    width: 100%;
    height: 300px; 
    border: 0;
}



/* ---Team Section---*/ 
.team-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background-color: var(--secondary-color);
}

.team-section > h2 {
    grid-column: 1/-1;
    text-align: center;
}

.team-section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid var(--accent2-color);
}

.team-section  figure img {
    width: 100%;
    height: auto;
}

.team-section figcaption {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
}

/* ---Contact section---*/
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f8f8f8;
}

.call-to-contact {
    flex: 1;
    padding-right: 20px;
}

.call-to-contact h2 {
    margin-bottom: 0.5em;
    color: #333;
    font-size: 3em;
}

.call-to-contact p {
    color: #666;
}

form {
    margin: 20px;
    flex: 1;
    padding-left: 20px;
}

/*--- Form styling---*/

form {
    border: 1.5px solid #ccc;
    border-radius: 4px ;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    width: 80%;
}

form input,
form textarea {
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
    border: 1px solid #ccc;
    padding:10px;
    margin-bottom: 20px;
}

fieldset input[type="radio"] {
    width: auto;
    margin-top: 10px;
}

legend {
    padding: 0 5px;
    font-size: 1em;
    font-weight: bold;
}

fieldset label {
    margin-left: 5px;
    font-size: 0.9em;
}

fieldset div {
    margin-bottom: 5px;
}


form label {
    font-size: 0.7em;
}

#subscribe {
    width: auto;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    color: white;
    background: var(--primary-color);
    border: 0;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

/*---footer--- */

footer {
    display: flex;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 10px;
    border-top: 1px solid #ccc;
    color: #000;
    font-size: 0.9em;
}

/*---- Trips Page----*/

.hero-trips {
    position: relative;
    align-items: center;
    margin-top: 10px;
    color: #FFF;
}

.hero-trips img {
    width: 100%;
    height: 40em;
    object-fit: cover;
}

.trips-hero-content{
    position: absolute;
    padding: 80px;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
   
}

.hero-trips h1 {
    padding-bottom: 20px;
    color: var(--nav-link-color);
}

    .hero-trips p {
        padding-bottom: 30px;    
color: var(--secondary-color);
}

.packages-trips {
    text-align: center;
    padding: 20px;
}
  
/*----Package section----*/
.packages-trips {
    text-align: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .packages-trips h2 {
    margin-bottom: 30px;
  }
  
  .packages-trips .card-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  
  .packages-trips article {
    width: calc(33.333% - 20px); 
    margin: 10px; 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /
  }
  
  .packages-trips figure,
  .packages-trips figcaption {
    margin: 0; 
    padding: 0;
  }
  
  .packages-trips img {
    width: 100%;
    display: block; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
  }
  
  .packages-trips figcaption {
    font-weight: bold;
    padding: 16px; 
    background: var(--accent2-color);
    margin-top: -5px;
  }
  
  .packages-trips p {
    padding: 16px;
    margin: 0;
  }
  

.packages-trips .btn {
    display: block;
    margin: 0 20px 20px;
    padding: 10px;
    background-color: var(--nav-background-color);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* detais-trips */
.detail-trips {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    background-color: var(--secondary-color);
  }
  
  .detail-trips h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .detail-trips table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    margin: 0 auto;
    background-color: #fff;
  }
  
  .detail-trips th,
  .detail-trips td {
    text-align: center;
    padding: 12px 6px;
    border: 1px solid #ddd; 
  }
  
  
  .detail-trips th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight:400;
  }

  
  .detail-trips tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .detail-trips tr:nth-child(odd) {
    background-color: #efefef;
  }
  

  .detail-trips tr:hover {
    background-color: #f1f1f1;
  }
  

  @media screen and (max-width: 768px) {
    .detail-trips table {
      display: block;
    }
    
    .detail-trips th,
    .detail-trips td {
      display: block;
      width: 100%;
    }
    
    .detail-trips td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    
    .detail-trips td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
    
    .detail-trips th {
      display: none;
    }
  }

  
  .signup-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  
  .signup-image {
    flex-basis: 50%;
    height: 400px;
}
  
  .signup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .signup-form {
    flex-basis: 50%;
    padding: 20px;
    text-align: center;
  }
  

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .signup-section {
      flex-direction: column;
    }
  
    .signup-image, .signup-form {
      flex-basis: 100%;
    }
  
    .signup-image {
      height: auto; 
    }
  }
  

  

footer p {
    flex-grow: 1;
   margin: 0;
   text-align: center;
}

footer div,
#wireframe {
    display: flex;
    gap: 10px;

}

footer img{
    width: 24px;
    height: 24px;
}

footer a {
display: block;
}

footer a:hover {
    opacity: 0.7;
}